*{
margin:0;
padding:0;
font_family: 'Josefin Sans',sans_serif;
}
Body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, pink,yellow);

}
.Header{
  padding:60px;
  background-color: #FFB6B1;

}


.container{
vertical-align: text-top;

width:500px;
height:45px;
top:250px;
border:2px solid #2196f3;
border-radius:8px;
transition:0.5s ease-in-out;
}
input{
  vertical-align:text-top;
  align-self: top;

width:100%;
heigth:100%
border:none;
color:#2196f3;
background:none;
outline:none;
font-size:23px;
font-weight:700;
transition:0.7s ease-in-out;
padding-top:10px;
padding-bottom:2px;
border-radius:8px;
font_family: 'Josefin Sans',sans_serif;
}
.wdth{
position:absolute;
width:0%;
height:100%;
background-color:#2196f3;
top:0;
 left:0;
 transition:0.5s ease-in-out;
  z-index:-1;
}
.wdth1{
position:absolute;
width:0%;
height:100%;
background-color:#2196f3;
top:0;
 right:0;
 transition:0.5s ease-in-out;
  z-index:-1;
}
.container:hover .wdth{
width:50%;
border-radius:30px 0 0 30px;
}
.container:hover input{
transform:scale(1.1);
color:white;
}
.container:hover .wdth1{
width:50%;
border-radius:0 30px 30px 0;
}
.container:hover{
border-radius:30px;
box-shadow:0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
}
.row
{
margin-top:5%;
display:flex;
justify-content:space-between;
}

.act-col
{
flex-basis:30%;
background:mistyrose;
border-radius:10px;
margin-bottom:5%
margin-top:5%
padding:20px 12px;
box-sizing:border-box;
box-shadow:0 0 20px 0px rgba(0,0,0,0.8);
}
}

h3
{
padding:10%;
text-align:center;
font-weight:600;
margin:10px 0;
}

.act-col:hover
{
background-color:pink;
box-shadow:0 0 20px 0px darkviolet;
}

h2{
font-size:30px;
font-weight:200;
line-height:22px;
padding:100px;
text-align:center;
font-family:sans-serif;
}
.footer{
  position:absolute;
  bottom: 0;
  width: 100%
  height:60px;
}

a{
  background:#116601;
  color: #222;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 28px;
  margin: 0 2px;
  padding-top: 12px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition: all .5s;

}
a.icon:before{
  font-family:"FontAwesome",sans-serif;
  color: #fff;
  font-size: 20px;
}
a.facebook:before
{
  content:'\f09a';

}
a.twitter:before
{
  content:'\f099';
}
a.github:before
{
  content:'\f113';
}
a.sololearn:before
{
  content:'\f16d';
}
a.pinterest:before
{
  content:'\f0d2';
}

a span{
  background: #fff;
  color: #222;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition:all .4s;
  transition: all .4s;
}
a span:before{
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}
a:hover span{
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}
